@import "tailwindcss";

body {
  overflow-x: hidden;
  background: #000;
  height: 100dvh;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  height: 100dvh;
  scroll-behavior: smooth;
}

canvas {
  touch-action: none;
  display: block;
}

.custom-scroll {
  scrollbar-width: thin; /* for Firefox */
  scrollbar-color: #ee6110 transparent; /* fallback for Firefox */
}


@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 6s linear infinite;
}

/* For Chrome autofill */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  /* your input bg color */
  transition: background-color 5000s ease-in-out;
  /* prevents flash */
}